[2021-04-19 11:18] ZhovnirMaria commented on #1010
@magento I am working on this

[2021-04-19 17:09] Eddcapone opened #1202 "How to edit the e-mail variables? - Feedback on page: /marketing/variables-reference.html"
I am facing the following problem. I have to change the customer create form so that we have two checkboxes for the prefix.
One for male and one for female. If the user does not select any of them, because he does not identify as a female or male, then we just like to show a message like "Good day Bastian Schweinsteiger". Currently it just shows "Bastian Schweinsteiger".
If the user selected male,

[2021-04-19 21:58] hugopessoa82 opened #1203 "Password reset"
Hi, im the user Hugopessoa, (conart2018@gmail.com) im using magento from a Builderall app, i have my store working and everything is just fine, but as a Admin logged always from the Builderall site, i cant create a password, or it keeps me asking the password that i never created and the email for recovery password never arrived.

[2021-04-20 05:00] Arafathi opened #1204 "Update Gateway URL setting on page: /shipping/usps.html"
Effective June 24th, 2021, USPS Web Tools will remove support for all unsecure HTTP endpoints.
Gateway URL in Magento setting should change to https.
The instruction on this page should get updated.

[2021-04-21 12:00] #1154 closed

[2021-04-21 12:00] #1162 closed

[2021-04-21 12:00] #1166 closed

[2021-04-21 12:00] #1179 closed

[2021-04-21 14:51] erikmarr commented on #1203
@hugopessoa82 thank you for your feedback. It sounds like you are using a third party app to build/launch Magento. We recommend you work with the Builderall site to resolve your error.

[2021-04-21 14:51] #1203 closed

[2021-04-21 14:55] erikmarr commented on #1202
Thank you for your feedback! It doesn't seem like your issue is related to Magento DevDocs documentation. To get answers to your questions, check the [Magento Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Magento 2 issues with code, see the [Magento 2 GitHub](https://github.com/magento

[2021-04-21 14:55] #1202 closed

[2021-04-21 14:56] erikmarr commented on #1072
Haven't heard back from reporter. Closing issue.

[2021-04-21 14:56] #1072 closed

[2021-04-21 15:32] Eddcapone commented on #1202
@erikmarr Hello I don't understand how this is not related to the documentation. I address the problem that there is not enough information to understand the variables.

[2021-04-22 17:24] dobooth commented on #1111
@ZhovnirMaria @EvheniiaKolkhiieva, care to take a shot at this one?

[2021-04-22 17:26] EvheniiaKolkhiieva commented on #1111
@dobooth yes of course :)

[2021-04-22 17:26] EvheniiaKolkhiieva commented on #1111
@magento I am working on this

[2021-04-26 15:10] #1089 closed

[2021-04-26 15:10] #1117 closed

[2021-04-26 15:10] #1142 closed

[2021-04-26 16:48] EvheniiaKolkhiieva commented on #884
@magento I am working on this

[2021-04-27 10:03] leduydong94 opened #1240 "Issue with catalog price rule in magento 2.4.2"
In magento 2.4.2, when adding a catalog rule for a product with custom option, set from date before current date, the price of the option is reduced according to the rule, but when adding option, the price displayed on the product page is not reduced, however, when add to the cart the price is reduced. I think it's bug of magento 2.4.2
Video test in local magento 2.4.2CE: https://www.loom.com/shar

[2021-04-27 10:04] leduydong94 commented on #1240
@magento I am working on this

[2021-04-27 10:05] leduydong94 commented on #1240
@magento add to contributors team

[2021-04-27 10:06] leduydong94 commented on #1240
Thank you

[2021-04-29 13:18] EvheniiaKolkhiieva commented on #1174
PR related to this issue was merged and closed.

[2021-04-29 13:18] #1174 closed

[2021-04-29 13:19] EvheniiaKolkhiieva commented on #1134
PR related to this issue was merged and closed.

[2021-04-29 13:19] #1134 closed

[2021-04-29 15:20] #1102 closed

[2021-04-30 13:47] Eddcapone opened #1255 "Add more information about company accounts"
Information missing. Why does the company accounts exist? What benefit is it giving our customers?

Page: https://docs.magento.com/user-guide/customers/account-companies.html

[2021-05-04 13:18] EvheniiaKolkhiieva commented on #1255
@magento I am working on this

[2021-05-04 13:27] EvheniiaKolkhiieva commented on #1005
@magento I am working on this

[2021-05-05 07:37] ZhovnirMaria commented on #1204
Hi, @Arafathi
I have had a small investigation on your issue and found that in Magento version 2.4 the Gateway URL field didn’t change. It still has an unsecured HTTP endpoint.
Could you please give me more details?
Thank you 😊
<img width="994" alt="Screenshot 2021-05-05 at 10 30 16" src="https://user-images.githubusercontent.com/79835574/117109645-a0850c00-ad8d-11eb-9ceb-cf8315495e3e.png">

[2021-05-05 08:54] EvheniiaKolkhiieva commented on #1204
@magento I am working on this

[2021-05-05 10:43] ZhovnirMaria commented on #923
@magento I am working on this

[2021-05-05 11:30] Santoshziffity opened #1272 "Add checkout page layout"
# New topic request

## Description

Add New Checkout topic under the Path to Purchase

- https://docs.magento.com/user-guide/quick-tour/path-to-purchase.html

There is no description and design available for the checkout page under the Path to Purchase section.

There is no Quick Toor for the checkout page and we should show the checkout layout to customers.

![image](https://user-images.githubus

[2021-05-05 13:10] #1165 closed

[2021-05-05 13:26] EvheniiaKolkhiieva commented on #1204
Hi @dobooth, for this issue the following was done:

- created PR in the magento/magento2 repository to fix the link in Magento Admin - https://github.com/magento/magento2/pull/32947
- removed screenshot showing an incorrect link
- added hint about the upcoming release, as a temporary measure until a fix for Magento Admin is implemented

Please let me know if you have any suggestions.
Thank you!

[2021-05-05 21:06] poprasad opened #1275 "Remove info about sending an email notification for Notify for Quantity Below in /catalog/inventory-backorders.html"
Notify for Quantity Below
The Notify for Quantity Below configuration option is configurable at the global, source, and product levels. **When it is enabled, the system sends an email notification when the product quantity reaches a level at or below the configured value.** For this example, a notification is triggered when the product has a quantity of 10 or less. When backorders are enabled, Not

[2021-05-06 06:38] Santoshziffity commented on #1272
@magento I am working on this

[2021-05-06 08:11] ZhovnirMaria commented on #60
@magento I working on it

[2021-05-06 08:12] ZhovnirMaria commented on #60
@magento I am working on this

[2021-05-06 12:24] ZhovnirMaria commented on #60
Hi, @leslietilling
I have updated some information on the product review. In my opinion, this topic is well described, and users should not have any problems with the ratings and reviews on the storefront. Let me know if I missed something.
Thank you!

[2021-05-07 13:53] Santoshziffity opened #1279 "Add custom input in offline payment method"
# New topic request

## Description

Here I found many customizations on the checkout page.
But I have one suggestion to add one more topic to this.

**New Topic:** Add Custom Input Field in the offline payment method
- Means in the purchase order payment method we must add purchase order number. if  any customer wants to add more field with the purchase order number at that time these docs will h

[2021-05-07 14:45] EvheniiaKolkhiieva commented on #1279
@magento I am working on this

[2021-05-07 14:49] EvheniiaKolkhiieva commented on #1279
Thank you for your request @Santoshziffity .
This issue ties to the DevDocs repository - https://github.com/magento/devdocs and will be reviewed and corrected there.

[2021-05-07 15:03] EvheniiaKolkhiieva commented on #1135
Closing this issue, since a screenshot is not required for this topic.

[2021-05-07 15:03] EvheniiaKolkhiieva commented on #1135
Closing this issue, since a screenshot is not required for this topic.

[2021-05-07 15:03] #1135 closed

[2021-05-09 09:41] miguelleon88 opened #1283 "Feedback on page: /magento/magento-identity-manager.html"

[2021-05-10 08:14] #1279 closed

[2021-05-11 20:41] leslietilling commented on #736
@magento give me 2.3-develop instance with edition ee

[2021-05-11 20:53] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-05-12 09:50] #1005 closed

[2021-05-12 16:13] akmzaidid opened #1293 "Feedback on page: /stores/configuration.html"
I want to create a design

[2021-05-12 18:44] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-05-12 20:10] EvheniiaKolkhiieva commented on #884
Hi @rparsi-boxycharm, when creating attributes, in the Magento Admin you can find an exhaustive list of Attribute input types that the user can choose. As a user, you cannot add a new Input type, however, you can do this with custom code implementation.

[2021-05-12 20:10] EvheniiaKolkhiieva commented on #884
@dobooth I propose to close this ticket as it goes out of the scope of the magento/merchdocs, what do you think?

[2021-05-13 13:23] rparsi-boxycharm commented on #884
@EvheniiaKolkhiieva
[code]
That's what I'm asking, how to programmatically create custom attribute input type.

[2021-05-18 08:12] EvheniiaKolkhiieva commented on #1283
Hi @miguelleon88, could you please provide some details about this topic?

[2021-05-18 14:38] Techbrunch opened #1304 "Clarify encryption key usage"
How is the encryption key used in relation to password ?

Source: https://docs.magento.com/user-guide/system/encryption-key.html

According to you documentation the password are hashed. Is the encryption key used as some kind of salt ?

Source:  https://devdocs.magento.com/guides/v2.4/config-guide/secy/hashing.html

[2021-05-18 15:41] FusionsoftUK opened #1305 "Feedback on page: /stores/admin-session-lifetime.html"
This still does not work, regardless of the settings in Magento, users are thrown out after 15 minutes.

This has been an issues since the beginning of time.

I have checked session.gc_maxlifetime'  and session.cookie_lifetime and these are both fine.

Bill.

[2021-05-19 20:38] irenelagno commented on #1293
@magento I am working on this

[2021-05-19 20:39] irenelagno commented on #47
@magento I am working on this

[2021-05-22 11:13] EvheniiaKolkhiieva commented on #47
@magento I am working on this

[2021-05-27 18:35] dobooth commented on #1293
Closing due to an almost total lack of information.

[2021-05-27 18:35] #1293 closed

[2021-05-27 18:37] dobooth commented on #1305
Hi @FusionsoftUK Thanks for the issue. We suspect this is more of a support issue: https://support.magento.com/hc/en-us.
If there needs to be a doc update, please provide more details.

[2021-05-27 18:38] #1305 closed

[2021-05-27 18:41] dobooth commented on #1304
Hi @Techbrunch Thanks for filing the issue. Couple things: If this is a devdocs issue, please file one in https://github.com/magento/devdocs/issues. Second, we are not super clear on what kind of info you are looking for. Are the docs incorrect?

[2021-05-27 18:42] dobooth commented on #1283
Closing for lack of details.

[2021-05-27 18:42] #1283 closed

[2021-05-27 18:56] Techbrunch commented on #1304
@dobooth I edited my issue so it's a bit clearer. According to your documentation "Magento uses an encryption key to protect passwords and other sensitive data" what passwords are we talking about here since users password are supposed to be hashed and not encrypted.

[2021-05-27 21:53] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-05-28 12:50] mohmyster opened #1323 "ReCaptcha missing from Admin"
Hi,

My hosting provider has updated my magento and when logging into admin I cant see the option for security in the back end.

Is this something that I can fix easily, any advice please?

Magento previous version 2.3.6-p1 to 2.3.7.

Thanks

Affected page: /configuration/security/google-recaptcha.html

[2021-05-28 13:28] mohmyster commented on #1323
I cant see an option here for security (see attached).

I am on magento 2.3.7
Shared windows hosting Apache 2.4.46
PHP 7.2.34
My SQL 5.7.34
Linux
![missing button securty](https://user-images.githubusercontent.com/83918537/119991030-ee71e600-bfc0-11eb-946f-1b789c34fb88.png)

[2021-05-28 16:30] #1055 closed

[2021-05-28 16:30] #1204 closed

[2021-05-28 16:30] #923 closed

[2021-05-28 16:30] #1255 closed

[2021-05-28 17:15] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-06-02 14:42] danidelcar commented on #1323
checking into this issue

[2021-06-02 14:44] danidelcar commented on #1275
@dobooth do you want me to take a look at this issue?, or need some help with it?

[2021-06-02 14:53] danidelcar commented on #1275
@leslietilling while grooming this issue, we saw this section was last updated in #955 . Do you know if this is still valid?

[2021-06-02 14:57] danidelcar commented on #135
@leslietilling @hickskenh can this issue be groomed so can be open to community for work?

[2021-06-02 14:57] danidelcar commented on #105
@leslietilling @hickskenh can this issue be groomed so can be open to community for work?

[2021-06-02 14:59] danidelcar commented on #586
@leslietilling @hickskenh can this issue be groomed so can be open to community for work?

[2021-06-02 15:02] danidelcar commented on #229
Hi @ccondra do you think we could open this issue to community contribution?, seems fairly easy to get a good first issue?, thanks!

[2021-06-02 15:38] leslietilling commented on #135
I think some changes have happened there since this was originally opened. If we want to open this up to Community, we should provide more details of the specific items missing that should be added, and any that are ee or b2b only.

[2021-06-02 17:39] dobooth commented on #1111
Fixed in PR above.

[2021-06-02 17:39] #1111 closed

[2021-06-02 18:01] dobooth commented on #990
When I check this, it validates properly with multiple validators.  Please let us know if there is a continuing issue with this.

[2021-06-02 18:01] #990 closed

[2021-06-02 19:01] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-06-02 19:37] hostep commented on #1111
@dobooth: [as discussed](https://github.com/magento/merchdocs/pull/1230#issuecomment-834477972) with @shrielenee this is not fully fixed yet, can you please reopen this? Thanks!

[2021-06-02 19:39] dobooth commented on #1275
Fixed.

[2021-06-02 19:39] #1275 closed

[2021-06-02 19:43] EvheniiaKolkhiieva commented on #1111
Hi @hostep Do not worry about this, I remember about our discussion and will open a separate PR, for this, it is not necessary to open this ticket again 😊

[2021-06-02 21:00] hostep commented on #1111
@EvheniiaKolkhiieva: ok great! Can you tag me in it? Because I still don't understand the difference between the two options and I want to know what they mean, thanks! 🙂

[2021-06-03 06:43] EvheniiaKolkhiieva commented on #1111
For sure @hostep ☺️

[2021-06-03 08:32] anirudhan-c opened #1331 "Update screenshots for product reservations"
The images on this page says the item is reserved when the product is added to the shopping cart. This is incorrect as the reservation happens only when the order is placed. Please update the images accordingly.

Affected topic: /catalog/inventory-about-order-status-reservation.html

[2021-06-03 16:10] #1065 closed

[2021-06-03 16:10] #1104 closed

[2021-06-07 12:23] EvheniiaKolkhiieva commented on #1331
@magento I am working on this

[2021-06-07 19:09] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-06-09 14:58] khrystynastolbova commented on #658
@magento I am working on this

[2021-06-09 18:44] bdenham commented on #1014
@akkaweb what's the status on the patch for this?

[2021-06-09 18:45] bdenham commented on #1014
Waiting for patch

[2021-06-09 18:45] #1014 closed

[2021-06-09 18:46] bdenham commented on #1323
@danidelcar you got an update for this?

[2021-06-10 12:07] danidelcar commented on #1323
Looking into it @bdenham , thanks!

[2021-06-14 14:10] #47 closed

[2021-06-15 02:25] voodoorabbit opened #1340 "Confirm you can use decimal for items in a shopping cart"
https://docs.magento.com/user-guide/catalog/inventory-configure-inventory-management.html

Products can be set up in Magento 2 to be sold in decimal quantities.

Why has the qty field on the shopping cart page been cast to an int instead of a float?
![ShoppingCart](https://user-images.githubusercontent.com/85914369/121983465-b6e2a680-cdd4-11eb-8004-f4699b30f408.jpg)

Same in the backend, when you

[2021-06-15 09:55] khrystynastolbova commented on #658
On the Admin sidebar _Stores > Settings > Configuration > Advanced > Developer_ section is disabled when working in Production Mode and available in Developer and Default modes.

There are other ways to merge it in Production mode:
1. config.php  https://devdocs.magento.com/cloud/live/sens-data-initial.html#change-config
2. console https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/themes/

[2021-06-15 11:20] khrystynastolbova opened #1342 "The relationship between products and categories"
# Bug report

## Description

<img width="1114" alt="Screenshot 2021-06-15 at 14 00 21" src="https://user-images.githubusercontent.com/79088059/122041870-1d21f600-cde2-11eb-91c0-58d6c09e3da4.png">

https://docs.magento.com/user-guide/catalog/categories.html

To create a product, the required fields are name, sku and price. The category assignment is not required.
Products may be assigned to zero o

[2021-06-16 11:41] EvheniiaKolkhiieva commented on #1342
@magento I am working on this

[2021-06-17 17:14] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-06-17 18:35] dobooth commented on #1340
Did you see the config option:
'Qty Uses Decimals | Allows decimal amounts, instead of whole numbers, for the quantity of a product. This is helpful for products sold by weight, volume, or length. Specified on the level of Source, calculated on the Stock level based on assigned Sources.'?

[2021-06-17 22:55] voodoorabbit commented on #1340
yes I know that. I have set the products to decimal qty. You can add a decimal qty to the shopping cart. If you try to adjust the decimal qty on the shopping cart, from say 0.5 to 0.75 you get an error.

[2021-06-23 14:00] #658 closed

[2021-06-23 21:36] LiamKarlMitchell opened #1353 "Update info about YouTube API"
Affected page: Feedback on page: /catalog/product-video.html
https://docs.magento.com/user-guide/catalog/product-video.html

Two issues here:

No mention about updating your Terms of Use and Privacy Policy's.

We received violations PDF from YouTube for this after enquiring as to why the YouTube API quota was 0 / disabled after 90 days of inactivity/no use.

If your going to have the YouTube API e

[2021-06-23 22:00] LiamKarlMitchell commented on #1353
According to YouTube API Developer Policies, YouTube reserves the right to disable or curtail your access if your API Project has been inactive for 90 consecutive days.

This all started being looked into further after we got disabled for not using the API Client in 90 days.
But we only upload product videos very rarely, so Magento 2 needs to query the API if its got a youtube api enabled as it is

[2021-06-29 14:30] #1342 closed

[2021-06-29 15:10] #1331 closed

[2021-06-30 16:17] deltaworld opened #1365 "Video for Page Builder docs not working."
# Bug report
Video for Page Builder hosted on YouTube is set to unlisted and is now inaccessible and private
## Description
When attempting to access the video on the Page Builder page https://business.adobe.com/products/magento/ecommerce-cms.html the link takes you to https://business.adobe.com/products/magento/ecommerce-cms.html#featured-video. The video the link points to is hosted on YouTube a

[2021-07-02 00:42] Sam-Pryor opened #1368 "Feedback on page: /marketing/google-adwords.html"
Which bit is the conversion ID? Can you please provide an example?

[2021-07-02 00:46] #1368 closed

[2021-07-04 05:12] voodoorabbit commented on #1340
never-mind we found the issue, it was with the Porto Theme.
It looks like the Porto theme's cart template in:

app/design/frontend/Smartwave/porto/Magento_Checkout/templates/cart/item/default.phtml

is out of sync with the core Magento template. It looks like Magento fixed the issue in 2019 in this [change](https://github.com/magento/magento2/commit/06a1aa1b1b5830ccc17c2ebb2fdc713892d22d59).

[2021-07-04 05:12] #1340 closed

[2021-07-09 02:12] steph-od opened #1380 "Feedback on page: /marketing/email-template-list.html"
The 'Credit Limit Updated' template name is missing and breaking the table formatting. See the image attached.

<img width="687" alt="Email Template List | Adobe Commerce 2 4 User Guide 2021-07-09 14-11-52" src="https://user-images.githubusercontent.com/87159466/125013295-b1b90480-e0bf-11eb-8b4b-81ea82f47b74.png">

[2021-07-12 14:29] engcom-November opened #1381 "No more "Add Block Names to Hints". User docs should be updated"
# Topic clarification/correction request
Remove "Add Block Names to Hints" and add "Add Block Class Type to hints" where ever required in the docs.

## Topic Link
https://docs.magento.com/user-guide/configuration/advanced/developer.html
https://docs.magento.com/user-guide/system/template-path-hints.html

## Description
Admin -> Stores -> Configuration -> Advanced -> Developer -> Debug section -> "

[2021-07-14 14:00] EvheniiaKolkhiieva commented on #1381
@magento I am working on this

[2021-07-14 14:10] EvheniiaKolkhiieva commented on #1380
@magento I am working on this

[2021-07-14 14:41] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ce

[2021-07-14 20:02] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-07-15 09:16] Crissov opened #1389 "Document the Robots Directive Exception Rules"
/marketing/search-engine-robots.html

The configuration of _Robots Directive Exception Rules_ is not documented in the [User Guide](https://docs.magento.com/user-guide/marketing/search-engine-robots.html) yet. It's unclear, for instance, what exactly the regular expressions match against.

![image](https://user-images.githubusercontent.com/6200185/125762667-53016f20-3ab0-4644-b3b9-bef0b152fddc.png

[2021-07-16 13:20] #1380 closed

[2021-07-16 13:20] #1381 closed

[2021-07-20 18:29] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ce

[2021-07-21 18:14] dobooth commented on #1365
Closing as not a docs issue. Correct team has been notified.

[2021-07-21 18:14] #1365 closed

[2021-07-23 04:19] df2k2 opened #1407 "Wish List Configuration - Specify multiple wishlist is not in open source version"
# Topic clarification/correction request

Wish List configuration page in the docs shows an option for multiple wish list settings but does not specify that it is commerce version only.  Open source does not have this feature and it should be noted.

## Topic Link

https://docs.magento.com/user-guide/marketing/wishlist-configuration.html

## Description

There is no indication on this page that th

[2021-07-24 06:01] EvheniiaKolkhiieva commented on #1407
@magento I am working on this

[2021-07-27 03:09] mailtomayaz opened #1416 "Page not found"
on this page https://marketplace.magento.com/magento-module-amazon.html when you click on "For more information, please read the User Guide" the page not found error apears

[2021-07-27 04:50] pawan commented on #406
@ccondra , please assign this issue to me.

[2021-07-28 00:46] #1407 closed

[2021-07-29 06:38] EvheniiaKolkhiieva commented on #1416
@magento I am working on this

[2021-07-29 22:31] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-08-04 12:52] #1416 closed

[2021-08-04 13:49] hostep commented on #1111
Hi @EvheniiaKolkhiieva, have you found any time yet to try to improve this documentation?

@dobooth or @shrielenee  we really need to keep this ticket open, otherwise it will be forgotten I'm afraid.

Copy paste from [my earlier remark](https://github.com/magento/merchdocs/pull/1230#issuecomment-827128270) about what is still missing:

[2021-08-04 14:44] shrielenee commented on #1111
Please let us know the status of your efforts @EvheniiaKolkhiieva! Thanks @hostep 💯

[2021-08-04 16:13] dshevtsov commented on #223
Also, note that the production site link is available in the **About** section on the main page of the repository.

[2021-08-04 16:17] EvheniiaKolkhiieva opened #1421 "Expand the Catalog media URL format topic description"
# Topic clarification/correction request

## Topic Link
https://docs.magento.com/user-guide/configuration/general/web.html#url-options

_A link to the topic that needs clarification or correction._

## Description
This issue is related to the discussion in https://github.com/magento/merchdocs/pull/1230 and https://github.com/magento/merchdocs/issues/1111

Re:

_What needs to be clarified or correc

[2021-08-04 16:17] EvheniiaKolkhiieva commented on #1421
@magento I am working on this

[2021-08-04 16:19] EvheniiaKolkhiieva commented on #1111
Hi @hostep and @shrielenee , you are totally right. I have created a new issue https://github.com/magento/merchdocs/issues/1421 , so as not to forget this implementation. I will deal with this shortly
Thanks

[2021-08-06 14:09] sparrowek opened #1424 "Determine if you can have a different price at the store level"
Is this correct? Can I have a different price at the store level?

Look here
https://magento.stackexchange.com/questions/210203/different-prices-for-different-store-views

[2021-08-10 09:45] twinklerave opened #1427 "Schedule an Update product preview is not working: Magento 2.4"
We disabled a product and enable in schedule update for a duration but on previewing product showing 404. Please help me why this is showing 404 instead of  product preview

[2021-08-11 18:59] keharper commented on #1427
This appears to be a bug with the code. Consider joining the Community Engineering Slack instance (linked above) for verification/help,

[2021-08-11 18:59] #1427 closed

[2021-08-11 21:07] hguthrie opened #1434 "Bullets and icons offset"
Using two separate browsers, the icons look offset.

-  Safari on the left, icons appear dropped
-  Chrome on the right, icons appear as expected

<img width="600" alt="Screen Shot 2021-08-11 at 16 01 24" src="https://user-images.githubusercontent.com/5817319/129103076-b618d18d-772d-4090-b810-4e3284feb221.png">

[2021-08-12 11:01] #223 closed

[2021-08-16 16:50] hguthrie commented on #1434
@belbiy @bdenham Do you also see this? Is this something either of you can help with?

[2021-08-16 17:21] belbiy commented on #1434
Yep, i see it. It's relatively easy to fix, by adding a `top: 0` property:
![Screen Shot 2021-08-16 at 12 20 59 PM](https://user-images.githubusercontent.com/752610/129603933-a3016ed9-4f1b-4d96-a4c8-7cc5f415066a.png)

[2021-08-16 21:47] bdenham commented on #1434
Yep, on it.

[2021-08-18 18:51] dshevtsov commented on #1434
@hguthrie please add a link to the page that's on screenshot for future testing and validation.

[2021-08-19 11:46] ZhovnirMaria commented on #1424
@magento I am working on this

[2021-08-19 18:55] dobooth commented on #1272
@Santoshziffity Any action here?

[2021-08-22 09:48] pawan opened #1449 "Update screenshot in Creating an Individual Customer Account topic"
## Link

https://docs.magento.com/user-guide/customers/account-create.html

## Description

Need to update screen-shot and add `Allow remote shopping assistance` and `Show Password` section.

## Magento release version

2.4.3, 2.4.1

[2021-08-22 09:48] pawan commented on #1449
@magento I am working on this

[2021-08-22 22:07] LiamKarlMitchell commented on #1353
Confirmed, this is an issue.
Temporary workaround with a crontab on the server to curl it every month.

[code]

[2021-08-24 17:12] leslietilling commented on #361
Done

[2021-08-24 17:12] #361 closed

[2021-08-24 17:15] leslietilling commented on #361
PRs:

#305
#321
#354
#365

[2021-08-25 15:42] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ce

[2021-08-26 15:19] onlinebizsoft opened #1462 "Merge JS and Bundling setting confusion"
# Bug report

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/themes/js-bundling.html
"To configure JavaScript bundling, you must disable Javascript file merging. Bundling will not work as the merging of files excludes bundling"

https://devdocs.magento.com/guides/v2.4/performance-best-practices/advanced-js-bundling.html
"Enabling merging without also enabling bundling is not useful bec

[2021-08-29 04:13] pawan commented on #1449
@magento I am working on this

[2021-08-30 17:46] costakkk opened #1467 "Feedback on page: /marketing/google-enhanced-ecommerce.html"
The events in the user guide are written Uppercase i.e. "AddToCart" while they actually lowercase "addToCart". Please correct user guide:

AddToCart -> addToCart
Checkout -> checkout   .... this is missing completely under "3. Complete the individual tracking configurations."
CheckoutOption -> checkoutOption
ProductClick -> productClick
PromotionClick -> promotionClick
RemoveFromCart -> removeFrom

[2021-08-31 07:33] EvheniiaKolkhiieva commented on #1467
@magento I am working on this

[2021-08-31 17:11] leslietilling commented on #736
@magento give me 2.4.4-develop instance with edition ee

[2021-08-31 17:12] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-09-02 04:04] onlinebizsoft opened #1479 "ESI varnish request for block"
# New topic request
Adding a section to explain about ESI request in Magento and setting ttl for block in layout

## Description
https://medium.com/@sivaschenko/5-block-types-from-caching-point-of-view-in-magento-2-cfdfc329d7dc

_What topic is missing from documentation?_

ESI
Block is ESI if it’s declaration in the layout XML has ttl attribute. ESI blocks are actual only if full page cache applic

[2021-09-02 04:53] pawan commented on #406
@magento I am working on this

[2021-09-02 12:37] onlinebizsoft commented on #1479
@JeroenBoersma @Den4ik @ihor-sviziev do you have any idea where I can find detailed document for this without looking at the code?

[2021-09-02 15:02] #1467 closed

[2021-09-08 10:15] abdchandu opened #1490 "Feedback on page: /marketing/gift-registries.html"
Observed the Shipping address is passing empty when user adds item to the cart from the Gift registries.

![Gift registry issue](https://user-images.githubusercontent.com/35223983/132491422-19e4eda2-2fcb-4c83-a90a-fa50975d13a2.gif)

Steps to replicate the issue:

1. Create Gift registries with products and provide the mandatory field details
2. Share the Gift registry to the user
3. Click on the l

[2021-09-08 15:49] nfplee opened #1492 "Add info about multiple quantities in Hidden Tax topic"
How does this work with multiple quantities? Is it a case of multiplying the hidden tax by the quantity? I'm guessing not as the "Tax Calculation Method Based On" setting will surely effect this.

Could you add some information on this?

Topic: https://docs.magento.com/user-guide/tax/hidden-tax-calculation.html

[2021-09-08 16:02] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-09-08 16:05] leslietilling commented on #736
@magento give me develop instance with edition ee

[2021-09-08 16:08] leslietilling commented on #736
@magento give me 2.4.3 instance with edition ee

[2021-09-09 16:13] #1449 closed

[2021-09-09 19:02] dobooth commented on #1462
Hi @onlinebizsoft We agree that there is a contradiction there, but could you please open this in the devdocs repo?

[2021-09-09 19:04] shrielenee commented on #1490
Thank you for your feedback! It doesn't seem like your issue is related to Commerce developer documentation. To get answers to your questions, check the [Adobe Commerce Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Adobe Commerce issues with code, see the [Adobe Commerce GitHub](https:

[2021-09-09 19:04] #1490 closed

[2021-09-10 13:26] onlinebizsoft commented on #1462
I opened https://github.com/magento/devdocs/issues/9133

[2021-09-10 13:26] #1462 closed

[2021-09-10 13:29] onlinebizsoft commented on #1479
Opened https://github.com/magento/devdocs/issues/9134

[2021-09-10 13:29] #1479 closed

[2021-09-14 12:01] vishalsanwar opened #1503 "REQUISITION LISTS Not showing on the Product detail and Shopping cart page"
Issue :

I used magento enterprise edition 2.4.2-p2.
I enabled the REQUISITION LISTS  but on the shopping cart and product detail page, REQUISITION LISTS  not showing.

but when I click on the create requisition list then I can see the list.

Solution: requisition list should be show on page load at very first time.

![Requisition List](https://user-images.githubusercontent.com/3647631/133253956-f

[2021-09-16 17:42] JusticeSelormBruce opened #1519 "File optimization instructions caused errors that I had to use CLI to fix --- check page info"
https://docs.magento.com/user-guide/system/file-optimization.html

While developing locally on my machine, I followed the instructions and set the deploy mode to developer. I went ahead to optimize my files by setting merge CSS,JS and PHTML files to yes and save config after that. after saving, only Dashboard menu and the extension menu works. all other  menus' don't work. the are disabled. the st

[2021-09-21 11:11] HKGJMA opened #1524 "Feedback on page: /stores/security-browser-capabilities-detection.html"
Link to _Supported browsers_ does not work.

[2021-09-22 11:56] EvheniiaKolkhiieva commented on #1524
@magento I am working on this

[2021-09-25 06:35] ayekannansp opened #1529 "Feedback on page: /reports/advanced-reporting.html"
![image](https://user-images.githubusercontent.com/72075998/134761452-d80da435-1a5a-4e9a-b272-da9efc1afd6b.png)
For magento2(2.2.10), I have gone through all the steps provided in magento2 official documentation [here](https://docs.magento.com/user-guide/reports/advanced-reporting.html). But no luck. It takes me to the above page. Please help me with that if anyone can?

[2021-09-29 16:54] #1524 closed

[2021-09-30 18:53] shrielenee commented on #1529
Thank you for your feedback! It doesn't seem like your issue is related to Commerce developer documentation.

However, if you do find out there is something missing or wrong in our documentation, please create an issue with more details.

To get answers to your questions, check the [Adobe Commerce Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [

[2021-09-30 18:53] #1529 closed

[2021-10-01 23:48] katmoon opened #1536 "Feedback on page: /marketing/price-rules-cart-create.html"
Please add that  "sales.rule.update.coupon.usage" consumer should be set up for coupons to work correctly. Additional details are in
https://devdocs.magento.com/guides/v2.4/config-guide/mq/manage-message-queues.html

[2021-10-04 19:18] katmoon opened #1540 "Add preconfigure step before enabling Approval Rules"
Feedback on page: [Approval rules](https://docs.magento.com/user-guide/customers/account-dashboard-approval-rules.html)

Please add that the "purchaseorder.validation" needs to be setup in order for Approval Rules to work correctly

[2021-10-11 13:46] GerryEganPallas opened #1544 "Feedback on page: /marketing/google-tag-manager.html"
Is this guide correct?

I don't believe you need a head top script and the configuration in Google API  section of Magento.

[2021-10-14 19:16] sanjaygswmi opened #1560 "Issue on page: /shipping/fedex.html"
I am getting an error on checkout page "Sorry, no quotes are available for this order at this time". After debugging I found this error log in shipping.log

main.CRITICAL: Could not connect to host {"exception":"[object] (SoapFault(code: 0): Could not connect to host at <magento_root>/vendor/magento/module-fedex/Model/Carrier.php:520)"} []

What should I do?

[2021-10-18 23:17] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2021-10-19 21:26] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2021-10-21 14:02] ivan-krot opened #1577 "Incorrect instruction in /shipping/shipping-free.html"
Incorrect heading in https://docs.magento.com/user-guide/shipping/shipping-free.html

Step 1: Configure free shipping
On the Admin sidebar, go to Stores > Settings > Configuration.

In the left panel, expand Sales and choose Delivery Methods. (Delivery Methods should be Shipping Methods)

[2021-10-21 18:42] dobooth commented on #1560
HI @sanjaygswmi Sorry to hear of the trouble. Unless this is an error in the documentation, I suggest you contact Support: https://support.magento.com/hc/en-us or ask on a forum such as StackExchange: https://magento.stackexchange.com/ If it is a docs issue, please provide more details.

[2021-10-21 18:42] #1560 closed

[2021-10-21 18:48] #1544 closed, assigned to nobody

[2021-10-21 18:50] #1503 closed, assigned to nobody

[2021-10-21 19:08] GerryEganPallas commented on #1544
I don’t believe they are correct.

Sent from my iPhone

Gerry Egan
E-Commerce & Digital Specialist
t: +353 (0)14566550 |
m: +353 (0)874108311
w: www.syscoireland.com
e: ***@***.***

CONFIDENTIAL – This e-mail transmission and any documents attached to it may contain information that is confidential or legally privileged.  If you are not the intended recipient, or a person responsible for deliverin

[2021-10-28 15:54] MeatPopsicle opened #1596 "Feedback on page: /reports/advanced-reporting.html"
Hi Team!

A merchant provided this feedback regarding the Troubleshooting section, whereby they were receiving a 404 and this was because they have MBI Pro active which supersedes the Advanced Reporting feature.

Please find their comment below:

It may be worth adding this simple note to the documentation to avoid any other users having the same confusion.

Do let me know if you have any question

[2021-11-01 17:11] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ce

[2021-11-01 21:06] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ce

[2021-11-01 21:14] surendragamage opened #1598 "Feedback on page: /cms/content-staging-scheduled-update.html"
Hi Team,
The following statement available in [ https://docs.magento.com/user-guide/cms/content-staging-scheduled-update.html ] document is quite confusing.

`An end date cannot later be added to a price rule campaign that was originally created without an end date. In such a case it is necessary to create a duplicate campaign that includes the end date that is needed`

This needs to be correct so

[2021-11-02 10:49] EvheniiaKolkhiieva commented on #1598
@magento I am working on this

[2021-11-02 10:57] EvheniiaKolkhiieva commented on #1598
Thank you for the great notice @surendragamage !

[2021-11-03 17:00] #1577 closed

[2021-11-04 13:41] #1596 closed

[2021-11-08 19:36] KristiChadderdon opened #1613 "Feedback on page: /configuration/catalog.html"
<img width="587" alt="MagentoReportsAccess" src="https://user-images.githubusercontent.com/93944617/140806333-57f6ebe1-1ceb-40ed-b800-594c54ed2e87.png">

SOMEBODY PLEASE ASSIST WITH WHITELISTING MY IP!

[2021-11-09 13:58] KristiChadderdon opened #1616 "Hi @KristiChadderdon. Thank you for your report."
Hi @KristiChadderdon. Thank you for your report.
To speed up processing of this issue, make sure that you provided sufficient information.

Add a comment to [assign the issue](https://devdocs.magento.com/contributor-guide/contributing.html#assigning-an-issue): `@magento I am working on this`

---
-  Join [Magento Community Engineering Slack](https://opensource.magento.com/slack) and ask your quest

[2021-11-09 14:04] KristiChadderdon commented on #1616
Please assist with my issues.

[2021-11-09 22:08] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-11-10 07:23] ak77-prime opened #1617 "Add Excluded Websites to customer group topic"
Is it possible to add a note that the ``Exclude Website(s)`` feature was added in 2.4.3?

https://docs.magento.com/user-guide/customers/customer-groups.html#create-a-customer-group

[code]

https://devdocs.magento.com/guides/v2.4/release-notes/commerce-2-4-3.html#performance-enhancements

[code]

[2021-11-10 17:24] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-11-11 19:43] dobooth commented on #1616
Closing for lack of content.

[2021-11-11 19:43] #1616 closed

[2021-11-11 19:45] dshevtsov commented on #1613
Thank you for your feedback! It doesn't seem like your issue is related to Commerce developer documentation. To get answers to your questions, check the [Adobe Commerce Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Adobe Commerce issues with code, see the [Adobe Commerce GitHub](https:

[2021-11-18 16:34] Titigunner01 opened #1623 "USPS email address needs updating"
https://docs.magento.com/user-guide/shipping/shipping-label-create.html

Email adress "_uspstechsupport@esecurecare.net_" not working anymore

![image](https://user-images.githubusercontent.com/54176419/142456928-31627c85-916f-4684-921b-269d40280794.png)

[2021-11-18 20:16] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2021-11-18 23:08] ak77-prime opened #1625 "Feedback on page: /stores/store-urls-custom-admin.html"
[code]

Add a note/warning that the custom URL should not include the new custom admin path.

e.g., customer wants https://admin.mydomain.com/newadmin - the Custom URL should only be set to https://admin.mydomain.com/ - do not include the custom path (URI) newadmin

[code]

[2021-11-19 06:29] ak77-prime opened #1627 "Feedback on page: /system/saas.html"
https://docs.magento.com/user-guide/system/saas.html#apikey

This is incorrect:

[code]

We look up the entitlements of the Mage ID that created the API key. We don't take Shared Access into account in this process.

Correction:

[code]

[2021-11-19 06:48] SherryElric opened #1628 "Feedback on page: /cms/dynamic-blocks.html"
The JS in dynamic blocks  can not run

Simple test code
<script>
console.log('test');
</script>

[2021-11-19 17:39] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2021-11-20 13:11] mrk-dzie opened #1633 "Invalid Form Key on catalog sorting when Remember Category Pagination and cache are enabled"
# Bug report

## Description

When the Remember Category Pagination option is enabled the toolbar widget is using POST method (Magento/Catalog/Block/Product/ProductList/Toolbar.php:752) and the form key is grabbed from from possibly cached "formKey" options parameter. That will result an error (Invalid Form Key. Please refresh the page.) on toolbar action when full page cache is enabled and the pr

[2021-11-20 13:25] #1633 closed

[2021-11-25 12:40] cmarra opened #1639 "Paypal PRO: Session issue - Feedback on page: /payment/paypal-payments-standard.html"
https://docs.magento.com/user-guide/payment/paypal-payments-standard.html

Good evening, I open this report because we have found some anomalies regarding payments with Paypal Pro. Our customer uses the Magento 2 platform with the official Paypal plugin included by default in the Magento installation, specifically the version of Magento used is the 2.4.2. The problem seems to be related to the Mag

[2021-11-26 18:22] royfungbhi opened #1642 "Feedback on page: /catalog/inventory-backorders.html"
https://docs.magento.com/user-guide/catalog/inventory-backorders.html

the out of stock threshold doesn't work and I am on Magento 2.3.3.  If I put in a negative number per this article, after I clicked save, the number will revert back to 0.

[2021-11-29 09:33] Crissov opened #1643 "Need to clarify priority rules"
https://docs.magento.com/user-guide/marketing/price-rules-cart-create.html

The info box in step 1.5 says:

_Priority_ can be set to `0` as well. It appears undocumented what this means effectively:

- Is it higher than the allegedly highest priority `1`?
- Is it a default priuority that is lower than all explicit priorities?

Furthermore, what happens if two rules contradict each other but have t

[2021-12-02 19:52] dshevtsov commented on #1642
Thank you for your feedback! It doesn't seem like your issue is related to documentation. To get answers to your questions, check the [Adobe Commerce Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Adobe Commerce issues with code, see the [Adobe Commerce GitHub](https://github.com/magent

[2021-12-02 19:52] #1642 closed

[2021-12-02 19:53] dshevtsov commented on #1639
Thank you for your feedback! It doesn't seem like your issue is related to documentation. To get answers to your questions, check the [Adobe Commerce Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Adobe Commerce issues with code, see the [Adobe Commerce GitHub](https://github.com/magent

[2021-12-02 19:53] #1639 closed

[2021-12-02 19:57] dshevtsov commented on #1628
Thank you for your feedback! It doesn't seem like your issue is related to documentation. To get answers to your questions, check the [Adobe Commerce Support Knowledge Base](https://support.magento.com/), [forums](https://community.magento.com/), or [Stack Exchange](https://community.magento.com/). To report Adobe Commerce issues with code, see the [Adobe Commerce GitHub](https://github.com/magent

[2021-12-02 19:59] #1628 closed

[2021-12-03 20:04] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-12-15 14:36] hguthrie commented on #1434
No longer seeing the problem on the [About page](https://docs.magento.com/user-guide/magento/about-this-release.html), so it must have been corrected. Closing

[2021-12-15 14:36] #1434 closed

[2021-12-18 04:32] ak77-prime opened #1651 "Incorrect cron guidance between Cloud and on-prem"
Topic: [/system/cron.html](https://docs.magento.com/user-guide/system/cron.html)

[code]

The **See [Set up cron jobs](https://devdocs.magento.com/cloud/configure/setup-cron-jobs.html) in the Commerce Developer Guide** link is specifically applicable to Adobe Commerce Cloud only and do not apply to On-Premise

This is more generic and applies to On-Premise: https://devdocs.magento.com/guides/v2.4/

[2021-12-20 17:07] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2021-12-21 17:58] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2021-12-21 19:10] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ce

[2021-12-21 19:14] leslietilling commented on #736
@magento give me 2.4.4 instance with edition ee

[2021-12-22 15:53] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-01-05 19:48] ccondra commented on #1651
This is ready for dev - please add a note for on-prem installations with a link to the referenced devdocs topic.

[2022-01-05 19:52] ccondra commented on #1598
This has enough information to move to development. Thank you!

[2022-01-07 19:39] #1623 closed

[2022-01-11 19:04] ccondra commented on #804
We should also recommend that people consider using Vertex Cloud if they need additional tax management capabilities. Vertex falls back to the VAT ID in the customer account if another isn't specified during checkout. This handles the scenario where a customer ships to a different address.

[2022-01-11 21:47] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-01-13 15:46] ccondra commented on #804
This update is complete. Thanks for your help!
See: https://github.com/magento-commerce/merchdocs/pull/366

[2022-01-13 15:47] #804 closed

[2022-01-19 22:50] ccondra opened #1686 "New dashboard option "Today""
# New feature request

## Description

A "Today" option has been added to the [Dashboard Orders](https://docs.magento.com/user-guide/stores/admin-dashboard.html) tab.  On the Dashboard topic under Chart sections, update the description of the Orders tab to include:

Options: Today, Last 24 Hours, Last 7 Days, Current Month, YTD, 2YTD

See merged issue: https://github.com/magento/magento2/pull/3387

[2022-01-21 08:50] HenKun opened #1687 "Wrong assignment of sales channel to stock"
https://github.com/magento/merchdocs/blob/4267dc13469a89de741c44eb3cc31b471d9a1416/src/catalog/inventory-about-sources-stocks.md?plain=1#L27

The image suggests one sales channel can be assigned to multiple stocks. "Amazon Marketplace" Sales channel is assigned to stocks "UK Store" and "US Store". This is wrong. Amazon Marketplace can only be assigned to one of the stocks, as correctly stated in t

[2022-01-21 20:06] #406 closed

[2022-01-25 18:43] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-01-27 22:47] leslietilling commented on #736
@magento give me 2.4-develop instance

[2022-02-04 18:02] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-02-04 22:16] leslietilling commented on #736
@magento give me 2.4.4 instance with edition ee

[2022-02-05 07:07] ak77-prime opened #1697 "Incomplete instructions for installing Live Search"
# Bug report

## Description

The article doesn't list any dependencies for installing Live Search

### Steps to reproduce

N/A

## Expected result

It should guide the merchant to install the dependencies

## Possible solutions

Taking the text from the Product Recommendations:

[code]

TODO:
- Replace ``magento/product-recommendations`` with ``magento/live-search``
- Adjust the definition of eac

[2022-02-07 16:39] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-02-08 22:15] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2022-02-10 13:00] komal8008 opened #1698 "issue in magento gift Registry"
when I am creating a new birthday gift registry in the Magento enterprise 2.4.3 store it shows me duplicate entry fields for first name, last name, and email. as shown below:
![image](https://user-images.githubusercontent.com/78193642/153413269-3ffddbf3-c93c-47f1-861b-a268a754ad46.png)

[2022-02-10 13:39] denish-c-vachhani opened #1699 "Installation roadmap - 404"
# Bug report

## Description

_What is the issue/current behavior?_

https://docs.magento.com/user-guide/magento/installation.html
Open above url **click on "Installation roadmap"** it will redirect to "https://devdocs.magento.com/guides/v2.4/install-gde/install-roadmap_part1.html?_ga=2.113227276.963052517.1644381423-691481920.1644381423"

### Steps to reproduce

_(OPTIONAL) What needs to be done

[2022-02-10 13:40] komal8008 commented on #1698
@magento-devops-community-builds-svc
@magento
i am working on this

[2022-02-10 15:31] danidelcar commented on #1697
Hi @ccondra could you take a look please?. As well, @ak77-prime are you referring to this page?: https://docs.magento.com/user-guide/live-search/install.html

[2022-02-10 23:12] ak77-prime commented on #1697
Yes, I had a customer who was trying to install Live Search but composer didn't install the required dependencies so he couldn't configure the Sensei Services Connector

[2022-02-11 17:33] leslietilling commented on #736
@maagento give me 2.4-develop instance with edition b2b

[2022-02-11 17:33] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2022-02-15 23:48] ak77-prime opened #1702 "Number of data spaces available"
# Topic clarification/correction request

## Topic Link

https://docs.magento.com/user-guide/configuration/services/saas.html#saas-identifier

## Description

This point in bold needs clarification:

The number of SaaS Data Spaces that appears depends on your Commerce license:
**Adobe Commerce - One production data space; two testing data spaces;**
Magento Open Source - One production data space;

[2022-02-17 15:04] jchassery12 opened #1703 "Spying on Grammarly"
# Bug report

## Description

_What is the issue/current behavior?_

### Steps to reproduce

_(OPTIONAL) What needs to be done to replicate this issue? Provide Gist if needed._

1. First Step
1. Second Step
1. Etc.

## Expected result

_When this issue is resolved, what is the expected result/behavior?_

## Possible solutions

_(OPTIONAL) What would a solution for this issue look like?_

## Magent

[2022-02-17 15:04] jchassery12 opened #1704 "Spying on Grammarly"
# New topic request

## Description

_What topic is missing from documentation?_

## Magento release version

_Which Magento release(s) are affected by the content changes: 2.4, 2.3? Specify a patch release number, if applicable._

- ...

## Content checklist

_List specific information or details to include in this topic._

_Use the following checklist template as a starting point:_

- [ ] The to

[2022-02-17 19:12] #1703 closed

[2022-02-17 19:13] bdenham commented on #1704
nothing here to act on.

[2022-02-17 19:13] #1704 closed

[2022-02-17 19:20] dobooth commented on #1699
Yes, let's link it to https://devdocs.magento.com/guides/v2.4/install-gde/install-flow-diagram.html

[2022-02-23 15:42] ccondra commented on #1697
These are actually listed at the bottom of the topic, but should be moved up to the beginning. Thanks!

[2022-02-23 16:58] #1697 closed

[2022-02-25 00:33] ak77-prime opened #1706 "What does "supported limits and static boundaries" mean?"
# Topic clarification/correction request

This section needs to be rephrased:

Boundaries and thresholds:
...
Functionality
At this time, the Live Search category search / category API has the following supported limits and static boundaries:

Storefront [Advanced (Form) Search](https://docs.magento.com/user-guide/catalog/search-advanced.html) module
[Customer groups](https://docs.magento.com/user

[2022-02-25 06:08] ak77-prime commented on #1706
https://github.com/magento/merchdocs/commit/f6488f9bef3d0de6f39c059b57c70955ccf7437d#diff-e5c30d0eae19fe18281838309b79c319c8f51bc11ae0fca99670e1c001a34ad2L31

[2022-02-28 20:58] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-03-01 09:51] EvheniiaKolkhiieva commented on #1702
@magento I am working on this

[2022-03-01 12:02] EvheniiaKolkhiieva commented on #1627
@magento I am working on it!

[2022-03-01 19:20] #1627 closed

[2022-03-01 20:03] #1702 closed

[2022-03-02 19:11] ccondra commented on #1686
This isn't implemented in any build that I have access to, so I'll revisit it later.

[2022-03-02 21:48] #1686 closed

[2022-03-03 15:54] erikmarr commented on #832
This issue was fixed in PR #85 linked above.

[2022-03-04 12:29] avinashstpl opened #1713 "Issue with Product Varient Price"
We have created multiple option of 1 product and when we are adding price of each variant then its showing price like
+120
-20

Our base product is Rs 250 for 12 ml then other are 10 ml Rs.230 and 20ml Rs 250.

Kindly help us to fix the issues

![image](https://user-images.githubusercontent.com/35250045/156763678-c5d559dd-11ac-4680-b7f6-3d5e2bce9cf9.png)

[2022-03-09 06:06] ak77-prime opened #1715 "How to use the Scheduled Update to schedule Promotions"
# New topic request

## Description

I have a customer who is confused about how to activate a Cart Price Rule and asked that we clarify this in the User Guide.

[code]

## Magento release version

All versions

## Content checklist

_List specific information or details to include in this topic._

How to create a Catalog Price Rule that would only apply during a specific time period
How to update

[2022-03-10 19:24] dobooth commented on #1713
Hi @avinashstpl Thanks for writing. This is more of a support issue rather than a docs issue. Please check with Support at https://support.magento.com/hc/en-us for help with your issue.

[2022-03-10 19:34] ccondra commented on #1713
Rather than setting is up as a simple product with configurable options, it might be better to create a configurable product with multiple (simple) product variations.  That way, the price won't be shown as a markup in relation to the base product price.  I hope this helps!

[2022-03-10 19:35] #1713 closed

[2022-03-15 14:44] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2022-03-16 11:00] nadintomilina opened #1716 "Not correct description for Catalog-Products Grid | Columns"
Not correct description for Columns
"Product list actions include Delete, Change Status, Update Attributes, Assign Inventory Source, Unassign Inventory Source, and Transfer Inventory to Source."
is dublicate Actions

How Found — Catalog-Products Grid
table
https://docs.magento.com/user-guide/catalog/products.html

[2022-03-17 11:46] dobooth commented on #1240
Closing this as it is not a docs issue.

[2022-03-17 11:46] #1240 closed

[2022-03-17 12:10] dobooth commented on #135
Closing this as out of date. I don't see an "Admin" table.

[2022-03-17 12:10] #135 closed

[2022-03-17 13:14] dobooth commented on #889
I am going to close this as it does not appear to be a docs issue and I will assume they have the issue sorted by now.

[2022-03-17 13:14] #889 closed

[2022-03-17 13:23] dobooth commented on #833
Closing as Done.

[2022-03-17 13:23] #833 closed

[2022-03-17 14:13] dobooth commented on #1706
Closing as fixed.

[2022-03-17 18:39] #105 closed

[2022-03-17 18:39] #500 closed

[2022-03-17 18:39] #1353 closed

[2022-03-23 05:27] avinashstpl opened #1718 "Product Image is not showing as per product Size"
Dear Team,
We are having issue with product Image when its being added to cart.

We have 3 option of product and all three are having different images but when these are being added to cart then all product are showing same image.

https://fragrantorsaroma.com/air-alcohol-free-attar.html

![image](https://user-images.githubusercontent.com/35250045/159630057-da4676dd-b411-41f6-b0e0-927029c58dc7.png

[2022-03-28 16:26] dobooth commented on #981
Cancelling a Shipment has not been removed from the codebase as of yet. Closing for now.

[2022-03-28 16:26] #981 closed

[2022-04-04 15:49] dobooth commented on #736
@magento give me 2.4-develop instance

[2022-04-04 15:56] dobooth commented on #736
https://github.com/magento give me 2.4-develop instance

[2022-04-04 16:00] dobooth commented on #736
@magento give me 2.4-develop instance

[2022-04-06 23:06] pmonosolo opened #1719 ""Set Product as New" toggle does not exist in 2.4.3"
# Topic clarification/correction request

## Topic Link
https://docs.magento.com/user-guide/cms/widget-new-products-list.html

## Description

This toggle "Set Product as New" does not exist in 2.4.3.

![image](https://user-images.githubusercontent.com/66754347/162086195-080b2972-371c-424c-9c7a-173367b7ca05.png)

Which version does this change from:

![image](https://user-images.githubusercontent.

[2022-04-09 02:26] ak77-prime opened #1722 "Sentence correction"
# Topic clarification/correction request

## Topic Link

https://docs.magento.com/user-guide/catalog/inventory-about-ssa.html#source-selection-algorithm

## Description

Needs correction:

[code]

## Magento release version

N/A

## Possible solutions

[code]

## Additional information

[2022-04-11 20:07] #1126 closed

[2022-04-11 20:11] leslietilling commented on #414
Looks like this was already done.

[2022-04-11 20:11] #414 closed

[2022-04-11 20:12] leslietilling commented on #2
Closing... too far out of date now

[2022-04-11 20:12] #2 closed

[2022-04-11 20:13] leslietilling commented on #3
Closing... too far out of date now from original customer comments in Hotjar.

[2022-04-11 20:13] #3 closed

[2022-04-11 20:15] leslietilling commented on #4
Closing.... too far out of date for original customer comments in Hotjar

[2022-04-11 20:15] #4 closed

[2022-04-13 15:11] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-04-13 17:22] leslietilling commented on #46
@rodrigowebjump Do you have a PR for this?

[2022-04-13 17:29] leslietilling commented on #8
Old comments from Hotjar. Closing as N/A for current docs.

[2022-04-13 17:29] #8 closed

[2022-04-13 17:29] leslietilling commented on #60
As @ZhovnirMaria  mentioned. This is already addressed.

[2022-04-13 17:29] #60 closed

[2022-04-14 10:07] dobooth commented on #736
https://github.com/magento give me 2.4-develop instance with edition ee

[2022-04-14 10:15] dobooth commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-04-14 10:20] dobooth commented on #736
@magento give me 2.4-develop instance

[2022-04-14 11:40] dobooth commented on #1698
Hi @komal8008 This does not appear to be an issue with documentation. If you are continuing to have issue with the gift registry, we suggest you contact support to assist with a resolution. https://support.magento.com/hc/en-us

[2022-04-14 11:40] #1698 closed

[2022-04-18 19:43] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-04-20 19:36] hickskenh commented on #1722
Addressed in PR 457
https://github.com/magento-commerce/merchdocs/pull/457

[2022-04-20 19:36] #1722 closed

[2022-04-20 19:54] hickskenh commented on #1617
As a general rule, we maintain documentation for current release versions.  It is not feasible for us to add notes each time options are added.

[2022-04-20 19:54] #1617 closed

[2022-04-20 20:48] alangwilson opened #1723 ""Send" is listed twice"
# Bug report

## Description
Send is shown twice in the list at the top of the page

### Steps to reproduce
https://docs.magento.com/user-guide/stores/b2b-configure-quotes.html

## Expected result
List it once.

## Possible solutions
Remove the second/duplicate instance

[2022-04-20 21:00] hickskenh commented on #1687
Addressed in PR 458

[2022-04-20 21:00] #1687 closed

[2022-04-21 05:06] HenKun commented on #1687
I don't see the change, in neither of the pages. The PR isn't even linked or available

[2022-04-21 15:15] hickskenh commented on #1687
the pr was approved last night, but wasn't merged til this morning.  https://github.com/magento-commerce/merchdocs/pull/458

[2022-04-21 16:52] hickskenh commented on #1719
@pmonosolo  Can you tell me if the option is in 2.4.4?   we only maintain current documentation.  and by that rule, we don't add notes for when things are added, other wise, the docs would be unmanageable with all the notes.

[2022-04-21 17:13] hickskenh commented on #1723
Addressed with PR#460  https://github.com/magento-commerce/merchdocs/pull/460

[2022-04-21 17:13] hickskenh commented on #1723
closing issue after merge

[2022-04-21 17:13] #1723 closed

[2022-04-21 17:29] hickskenh commented on #1643
moved to [COMDOX-214](https://jira.corp.adobe.com/browse/COMDOX-214)

[2022-04-21 17:29] #1643 closed

[2022-04-21 20:22] rostaylo opened #1724 "Link doesn't go to the right page"
# Bug report

## Description

The link in the documentation does not go to the right page, it is redirected to blog home page.

### Steps to reproduce

1. Click [Top ERP Packages that Integrate with Adobe Commerce](https://magento.com/blog/best-practices/top-erp-packages-integrate-magento).

## Expected result

User should be sent to blog post explaining the Top ERP Packages...

[2022-04-21 20:27] hickskenh commented on #1151
closing issue as complete

[2022-04-21 20:27] #1151 closed

[2022-04-21 20:30] hickskenh commented on #1724
This issue is due to the blog migration.  the migration team did not transfer all magento blogs. because the article no longer exists, it redirects to the new blog's home page.  will review and remove the link.

[2022-04-21 20:31] hickskenh commented on #1724
@rostaylo please provide the web page you where you found the error.

[2022-04-21 20:49] hickskenh commented on #1598
Addressed in PR #461
https://github.com/magento-commerce/merchdocs/pull/461

[2022-04-21 20:49] #1598 closed

[2022-04-22 14:50] hickskenh commented on #1715
Moved to Jira - [COMDOX-216](https://jira.corp.adobe.com/browse/COMDOX-216)

[2022-04-22 14:50] #1715 closed

[2022-04-22 15:17] hickskenh commented on #1651
addressed in [PR 462](https://github.com/magento-commerce/merchdocs/pull/462)

[2022-04-22 15:17] #1651 closed

[2022-04-22 15:25] hickskenh commented on #1540
Moved to Jira [COMDOX-218](https://jira.corp.adobe.com/browse/COMDOX-218)

[2022-04-22 15:25] #1540 closed

[2022-04-22 15:43] hickskenh commented on #1536
Moved to Jira [COMDOX-219](https://jira.corp.adobe.com/browse/COMDOX-219)

[2022-04-22 15:49] #1519 closed

[2022-04-22 15:52] hickskenh commented on #1492
Moved to Jira

[2022-04-22 15:52] #1492 closed

[2022-04-22 16:17] hickskenh commented on #1424
@ZhovnirMaria please advise if you still are working on this ticket or should it be assigned to someone else?

[2022-04-22 16:19] hickskenh commented on #1421
@EvheniiaKolkhiieva please advise if you are working on this or should be removed?

[2022-04-22 16:26] hickskenh commented on #1389
moved to Jira [COMDOX-222](https://jira.corp.adobe.com/browse/COMDOX-222)

[2022-04-22 16:26] hickskenh commented on #1389
closing

[2022-04-22 16:26] #1389 closed

[2022-04-22 16:29] hickskenh commented on #1323
@danidelcar Hey Danny.  have you guys determined if this is a docs issue or something to do with an upgrade?  Also, this is for 2.3.7 which is KTLO. Should it be addressed?

[2022-04-22 16:34] hickskenh commented on #1304
Moved to Jira [COMDOX-223](https://jira.corp.adobe.com/browse/COMDOX-223)

[2022-04-22 16:34] hickskenh commented on #1304
closing

[2022-04-22 16:34] #1304 closed

[2022-04-22 16:37] hickskenh commented on #1272
Moved to Jira [COMDOX-224](https://jira.corp.adobe.com/browse/COMDOX-224)

[2022-04-22 16:37] #1272 closed

[2022-04-22 17:54] hickskenh commented on #1171
This appears to be completed.  https://docs.magento.com/user-guide/catalog/settings-advanced-product-reviews.html

[2022-04-22 17:54] #1171 closed

[2022-04-22 20:12] hickskenh commented on #1160
this appears to be completed.  https://docs.magento.com/user-guide/catalog/category-products-add.html

[2022-04-22 20:12] #1160 closed

[2022-04-22 20:13] hickskenh commented on #1157
this appears to be completed.  https://docs.magento.com/user-guide/catalog/product-gift-card-accounts.html

[2022-04-22 20:13] #1157 closed

[2022-04-22 20:15] hickskenh commented on #1129
This appears to be completed.  https://docs.magento.com/user-guide/stores/admin-actions-control.html

[2022-04-22 20:15] #1129 closed

[2022-04-22 20:16] hickskenh commented on #1122
this appears to be completed. https://docs.magento.com/user-guide/customers/login-as-customer.html

[2022-04-22 20:16] #1122 closed

[2022-04-22 20:17] hickskenh commented on #1118
this appears to be completed. https://docs.magento.com/user-guide/customers/account-dashboard-gift-cards.html

[2022-04-22 20:17] #1118 closed

[2022-04-22 20:19] hickskenh commented on #1108
this appears to be completed.  https://docs.magento.com/user-guide/catalog/product-images-and-video.html

[2022-04-22 20:19] #1108 closed

[2022-04-22 20:20] hickskenh commented on #1010
this appears to be completed. https://docs.magento.com/user-guide/catalog/product-price-special.html#apply-a-special-price-to-multiple-products

[2022-04-22 20:20] #1010 closed

[2022-04-22 20:22] hickskenh commented on #902
@andrewbess please advise if you are still working on this, or if we need to assign to another writer.  Thanks.

[2022-04-22 20:28] hickskenh commented on #728
@AndreyChorniy please provide a status for this ticket.

[2022-04-22 20:31] hickskenh commented on #659
moved to Jira [COMDOX-225](https://jira.corp.adobe.com/browse/COMDOX-225)

[2022-04-22 20:31] #659 closed

[2022-04-25 08:19] AndreyChorniy commented on #728
@hickskenh It seems that the issue is fixed. But I am not sure why PR is closed instead of merged.
As for me the issue is fixed and PR should be merged.

[2022-04-27 20:06] straheyatadobe opened #1726 "broken link"
# Bug report

## Description
two broken links on links on "https://docs.magento.com/user-guide/system/erp-systems.html"
with the title: "Top ERP Packages that Integrate with Adobe Commerce"
they seem to be redirected to in invalid page

### Steps to reproduce

_(OPTIONAL) What needs to be done to replicate this issue? Provide Gist if needed._

1. go to https://docs.magento.com/user-guide/system/er

[2022-04-28 18:26] keharper commented on #884
@rparsi-boxycharm Since you're asking for programmatic info, check [devdocs](https://devdocs.magento.com). If the content you're seeking isn't there, open an issue.

[2022-04-28 18:40] dobooth commented on #1724
Closing as dupe of https://github.com/magento/merchdocs/issues/1726 and will have a PR to fix this soon.

[2022-04-28 18:40] #1724 closed

[2022-05-01 14:05] maerroc opened #1727 "Topic "User Permissions and Roles" under wrong parent topic"
# Topic clarification/correction request

## Topic Link

Commerce User Guide &gt; Getting Started &gt; Quick Tour &gt; Customer Journey &gt; [Increase Average Order Value](https://docs.magento.com/user-guide/quick-tour/increase-average-order-value.html)

## Description

The subtopic "User Permissions and Roles" does not seem to fit in this topic.

## Magento release version

2.4

## Possible solut

[2022-05-03 11:27] #1726 closed

[2022-05-06 02:59] anithaMills opened #1728 "Unable to enter public keys in Braintree Configuration of Magento admin module"
# Bug report

## Description

I am unable to enter public keys in Braintree Configuration of Magento admin module

### Steps to reproduce

1. Login to Magento admin
2. Go to Stores -> Configuration -> Sales -> Payment methods
3. Click Configure on Braintree
4. There is no option to enter keys
5. There is an error in Magento logs - report.ERROR: Braintree\Configuration::publicKey needs to be set. [

[2022-05-10 20:54] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-05-10 21:05] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2022-05-11 14:33] ccondra commented on #1727
Thanks for catching this!
Fixed - https://github.com/magento-commerce/merchdocs/pull/485

[2022-05-11 15:04] #1728 closed

[2022-05-17 14:54] hickskenh commented on #1323
@danidelcar checking on this again.

[2022-05-17 17:58] hickskenh commented on #229
moved to https://jira.corp.adobe.com/browse/COMDOX-233

[2022-05-17 17:58] #229 closed

[2022-05-17 18:02] hickskenh commented on #902
@andrewbess please advise if you are still working on this, or if we need to assign to another writer. Thanks.

[2022-05-17 18:06] hickskenh commented on #586
@leslietilling @danidelcar i don't see why not.  unless leslie knows of something.

[2022-05-17 18:17] hickskenh commented on #480
moved to comdox #235 - https://jira.corp.adobe.com/browse/COMDOX-235

[2022-05-17 18:17] #480 closed

[2022-05-18 08:38] danidelcar commented on #586
I'll defer to @leslietilling about this

[2022-05-18 08:44] danidelcar commented on #1323
@mohmyster could you confirm that "security" appears now outside the general tab, as a completely separate tab?. I do not see it as a docs issue @hickskenh unless our docs show the wrong config or screen. I see our docs with the latest info here: https://docs.magento.com/user-guide/stores/security-google-recaptcha.html

[2022-05-18 13:18] Anees144 opened #1731 "Magento old version"
![image](https://user-images.githubusercontent.com/66185031/169047494-777335f4-5546-44c1-8a15-cfb324355274.png)

I've seen Magento 2.2.0 on this documentation but I've searching for Magento 2.4.
Documentation is related to Magento 2.4 but in screenshots it seems like a Magento 2.2.0.

[2022-05-23 16:18] ccondra commented on #1731
It's not just this topic, but all of the screenshots in Negotiating a Quote and Example Quote were done at the same time. (I know because I did them!) To update these screenshots, someone will have to create the sample data for a B2B company and go through the process to stage each scenario. This is a "nice to have," but not essential because the functionality hasn't changed. Since I did this work

[2022-05-23 16:22] Anees144 commented on #1731
Thanks for your valuable Reply .

On Mon, May 23, 2022, 9:18 PM Claire Condra ***@***.***>
wrote:

[2022-05-26 07:33] korawit1188 opened #1733 "Ok"
# Community engineering issue

Type of documentation (new topic, update with links to the affected topics, other):

- ...
- ...

Links to related Magento 2 GitHub issues or pull requests:

- ...
- ...

Affected Magento 2 versions:

- ...
- ...

What has changed in Magento 2 (Admin interface, process/behavior, other):

- ...
- ...

## Content

## Additional information

[2022-05-26 18:42] #1733 closed

[2022-05-27 13:20] Abbx opened #1734 "Google Tools"
# Google Tools

## https://docs.magento.com/user-guide/marketing/google-tools.html

_A link to the topic that needs clarification or correction._
(https://docs.magento.com/user-guide/marketing/google-content-experiments.html)

## The hyperlink is not redirecting it to the proper link

https://user-images.githubusercontent.com/106387792/170707166-b323fe38-b85b-40fe-a4d5-06517bc99656.mp4

_What need

[2022-05-27 21:10] rob-gonz opened #1735 "Invitations, as described in the documentation, are not in the admin"
# Topic clarification/correction request

## Topic Link

_A link to the topic that needs clarification or correction._

## Description

_What needs to be clarified or corrected in this topic?_

## Magento release version

2.4.3-p1

- ...

## Possible solutions

Updating the documentation to reflect the removal or new location of the feature. Or fixing the code so the feature is accessible. I do no

[2022-06-02 14:57] tradecentric opened #1736 "Punchout2Go has changed to TradeCentric, formerly Punchout2Go"
# New topic request
Punchout2Go has changed to TradeCentric, formerly Punchout2Go
## Description
On June 6, Punchout2Go is changing it's name to TradeCentric. Punchout2Go is referenced in both the Magento User Guide: https://docs.magento.com/user-guide/v2.3/quick-tour/build-loyalty.html and the Adobe Commerce User Guide: https://docs.magento.com/user-guide/quick-tour/build-loyalty.html

Can you pl

[2022-06-02 14:59] tradecentric opened #1737 "Punchout2Go has changed its name to TradeCentric, formerly Punchout2Go"
# New topic request
Punchout2Go has changed its name to TradeCentric, formerly Punchout2Go
## Description
On June 6, Punchout2Go is changing it's name to TradeCentric. Punchout2Go is referenced in both the Magento User Guide: https://docs.magento.com/user-guide/v2.3/quick-tour/build-loyalty.html and the Adobe Commerce User Guide: https://docs.magento.com/user-guide/quick-tour/build-loyalty.html

C

[2022-06-07 06:54] CoriDiet opened #1738 "Password reset not possible"
# Topic clarification/correction request

## Topic Link

_A link to the topic that needs clarification or correction._

## Description

_What needs to be clarified or corrected in this topic?_

## Magento release version

_Which Magento release(s) are affected by the content changes: 2.4, 2.3? Specify a patch release number, if applicable._

- ...

## Possible solutions

_I need to reset password

[2022-06-13 07:25] depyou commented on #965
add
`if(empty($this->getAssetContentType($asset))) var_dump($asset->getPath());`
 at vendor\magento\framework\View\Page\Config\Renderer.php below line:420;
find witch file can't getAssetContentType.
find add this file's xml;
Check the syntax for adding this file.
is YOU_MODULE::xxx/xxx.css or YOU_MODULE::xxx/xxx.js
not YOU_MODULE/xxx/xxx.css or YOU_MODULE/xxx/xxx.js
must use `::` not `/`

[2022-06-13 18:13] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-06-13 18:22] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2022-06-13 19:46] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ce

[2022-06-16 02:10] ak77-prime opened #1739 "Images of the simple product creation do not take into account the MSI functionality"
# Topic clarification/correction request

## Topic Link

https://docs.magento.com/user-guide/catalog/product-create-configurable.html#step-3-configure-the-images-price-and-quantity

## Description

The images shown under **Method 2** of ``Use one of the following methods to configure the quantity:`` do not match the current functionality when Multi-Source Inventory is enabled.

_What needs to be c

[2022-06-21 16:08] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-06-21 17:07] dobooth commented on #1738
Hi @CoriDiet We suggest contacting Support for help with logging in. https://support.magento.com/hc/en-us/articles/360000913794-Adobe-Commerce-Help-Center-User-Guide. I will close this issue as it is not a docs issue.

[2022-06-21 17:15] dobooth commented on #1736
Dupe of https://github.com/magento/merchdocs/issues/1737

[2022-06-21 17:21] dobooth commented on #1735
Hi @rob-gonz Thanks for writing. The Invitations feature is for Adobe Commerce only. Are you looking at Commerce or the Magento Open Source version?

[2022-06-21 17:32] #1734 closed

[2022-06-21 17:39] dobooth commented on #736
@magento give me 2.3.7  instance

[2022-06-21 17:50] dobooth commented on #1323
Closing as outdated. @mohmyster please reopen if there is still an issue with the docs.

[2022-06-21 17:50] #1323 closed

[2022-06-22 13:39] #902 closed

[2022-06-22 20:41] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-06-22 21:40] #46 closed

[2022-06-23 03:28] ak77-prime opened #1741 "Reward Exchange Rates must be configured in both directions (Currency to Points, and Points to Currency)"
# Bug report

## Description

The documentation doesn't state that the conversion rates in both directions are required in order to redeem the Reward Points when placing the order

### Steps to reproduce

1. Go to Stores > Other Settings > Rewards Exchange Rates
2. Create an exchange rate in one direction, i.e., Currency to Points
3. Give 100 Reward Points to a registered customer
4. Login to the

[2022-06-24 13:47] Eddcapone opened #1742 "Misses information on how to set the cookie lifetime to infinite."
# Topic clarification/correction request

## Topic Link

https://docs.magento.com/user-guide/customers/customer-online-options.html

## Description

Misses information on how to set the cookie lifetime to infinite.

## Magento release version

2.4.2

[2022-07-01 22:23] ak77-prime opened #1745 "What to do if you aren't seeing the expected number of SaaS Data Spaces"
# Topic clarification/correction request

## Topic Link

https://docs.magento.com/user-guide/system/saas.html#saasenv

## Description

This needs to be elaborated on:

[code]

## Magento release version

Doesn't depend on the Magento version or Implementation Type.

- ...

## Possible solutions

Make sure that the API keys that you have configured were generated on the Account Owner's account asso

[2022-07-11 17:32] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-07-12 19:51] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2022-07-14 18:22] dobooth commented on #1742
Hi @Eddcapone Thanks for writing. We don't recommend setting cookies that don't expire, so we are disinclined to add it to the docs.

[2022-07-14 18:22] #1742 closed

[2022-07-14 18:35] dobooth commented on #736
https://github.com/magento give me 2.4-develop instance with edition ee

[2022-07-14 18:35] dobooth commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-07-14 19:08] dobooth commented on #1739
@ak77-prime Thanks for the issue. I have looked in my instance and I don't see the image mismatch. Can you attach a screenshot of what it should look like?

[2022-07-14 19:15] dobooth commented on #1735
@rob-gonz Thanks for the reply.  I am not seeing the issue in my instance. Can you be more specific as to the error or perhaps provide a screenshot of what you are seeing?

[2022-07-15 13:33] #1741 closed

[2022-07-16 04:04] ak77-prime commented on #1739
![1739-msi-stock](https://user-images.githubusercontent.com/68703716/179338564-448b905f-f3b2-4740-a1b3-0eb9a4dd33c9.png)

[2022-07-18 07:59] Eddcapone commented on #1742
Hi @dobooth, you could add a note where you explain why you don't recommend it. On many sites there is a feature where to user can opt-in via checkbox on the login form, to stay signed in forever, so it makes sense.

[2022-07-18 22:04] adrianbsystems opened #1747 "Extension fails to install if the database has a PREFIX"
Steps to replicate:
composer require magento/module-amazon
composer require magento/services-connector
php bin/magento setup:upgrade

Expected result:  setup completes normally
Actual Result:
Unable to apply patch Magento\Amazon\Setup\Patch\Schema\DropUnnecessaryIndexesLeftFromOldSchema for module Magento_Amazon. Original exception message: SQLSTATE[42S02]: Base table or view not found: 1146 Table

[2022-07-18 23:06] adrianbsystems commented on #1747
If the database PREFIX is manually added the the files below, setup completes successfully, But this seems not the correct procedure ?

/vendor/magento/module-amazon/Setup/Patch/Schema/DropUnnecessaryIndexesLeftFromOldSchema.php

 /**
     * @var ModuleDataSetupInterface $moduleDataSetup
     */
    private $moduleDataSetup;

    private $indexesToDelete = [
        'nY3g_channel_amazon_account' =

[2022-07-21 15:20] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-07-21 18:52] dobooth commented on #1747
Hi @adrianbsystems Thanks for writing. As this doesn't appear to be a docs issue, but a codebase issue, we suggest you open a bug in the magento2 codebase. Thanks.

[2022-07-21 18:52] #1747 closed

[2022-07-27 11:37] seb-jean opened #1749 "GTM_M2_Config_json.txt no longer"
Hello,

On the https://docs.magento.com/user-guide/marketing/google-tag-manager.html page, the [GTM_M2_Config_json.txt](https://docs.magento.com/m2/downloads/GTM_M2_Config_json.txt) file is no longer the correct one since the arrival of Google Analytics 4 (GA4).

The tags are still "Google Analytics: Universal Analytics".
They should be "Google Analytics: GA4 Event".

Thanks :)

[2022-07-27 22:32] Amnezja81 opened #1750 "Agnieszka"
# New feature request

## Description

_Describe the feature you want added to MerchDocs._

## Magento release version

_Which Magento release(s) are affected by the content changes: 2.4, 2.3? Specify a patch release number, if applicable._

- ...

## Expected result

_What is the expected result/behavior of this feature?_

## Benefits

_How does this feature improve the documentation experience?_

[2022-07-27 22:33] #1750 closed

[2022-07-27 22:34] Amnezja81 opened #1751 "agula81.ak@gmail.com"
https://github.com/magento/merchdocs/issues/1750

[2022-07-28 01:46] Amnezja81 opened #1752 "https://github.com/M66B/FairEmail/blob/master/FAQ.md"
https://github.com/M66B/FairEmail/blob/master/tutorials/README.md

[2022-08-01 20:50] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-08-02 19:02] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-08-05 19:52] dshevtsov commented on #1540
Moving an issue to Jira doesn't make it resolved. Also, posting internal links is not allowed in public repos.

[2022-08-05 21:25] leslietilling commented on #561
"Ready for development" means it is groomed. Inventory Management content is already moved to Experience League. Plus there seems to be no traction for anyone to provide an answer on this. Perhaps the #msi Community Slack channel can provide the the answer.

[2022-08-15 17:29] amarroni opened #1753 "Currency Setup - Fixer.io changed there apis urls"
# Bug report

## Description
Trying to install a currency conversion using Fixer.io. I created a new account. Following the steps. When you go to fixer.io get free account.
Now apis are under APILayer instance of Fixer.io.

### Steps to reproduce

1. click on fixer.io link under documentation page. link go to https://fixer.io/
2. under fixer.io page you can click"set up free" redirecting to https:

[2022-08-17 19:07] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-08-19 15:16] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-08-24 16:00] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-08-29 16:50] dobooth commented on #1753
Hi @amarroni. Thanks for the issue. I can't find the documentation page that you are referring to. Which topic is in error?

[2022-08-29 16:50] #1752 closed

[2022-08-29 17:08] amarroni commented on #1753
@dobooth thank you for your replay. I'm referencing under this doc page https://docs.magento.com/user-guide/configuration/general/currency-setup.html
fixer.io moved to api.apilayer

<img width="1067" alt="currency-setup-issue" src="https://user-images.githubusercontent.com/5198527/187255890-67a647ef-59eb-4c73-a047-24b30339c123.png">

Best,
Alejandro.

[2022-08-31 17:34] dobooth commented on #1753
Thanks. That's what I thought but was looking for actual API links like your suggestion. I think the link to the homepage is probably ok as is. It is only the pricing page that goes to the other domain.

[2022-09-01 16:26] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-09-05 05:00] narendra-harde opened #1755 "Correction in sentence"
https://docs.magento.com/user-guide/catalog/product-autosettings.html
Please correct the following sentence-
With RMA, the an Admin user has the ability to allow return functionality for specific products, as well as disallow the returning of specific products.

[2022-09-07 10:31] mandarmalka opened #1756 "Attribute set is not redirecting to valid url"
# Bug report

The attribute set is not redirecting to a valid URL

### Steps to reproduce
1. go to this link https://docs.magento.com/user-guide/stores/attributes.html
2. click on the "Attribute sets".
 It will redirect to u invalid website
please check the attached image
![Screenshot from 2022-09-07 15-58-23](https://user-images.githubusercontent.com/101105731/188856940-7046ad00-1a8b-45fa-a35a-90

[2022-09-26 15:24] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-09-29 19:03] #1756 closed

[2022-10-06 13:30] dobooth commented on #1755
Fixed in Experience League.

[2022-10-13 18:37] dobooth commented on #1749
@leslietilling This seems like a file we shouldn't be maintaining on merchdocs. Concur?

[2022-10-13 19:29] shrielenee commented on #1749
Yes. I am currently trying to get info from the vendor workers who worked on Google Tag Manager to see what we can do about the file. Talking with Mahesh Singh.

[2022-10-24 17:52] dobooth commented on #1753
Looked in to this. Links are ok as is.

[2022-10-24 17:52] #1753 closed

[2022-11-02 01:33] jasonfordAdobe opened #1758 "Custom Variable documentation should be updated to reflect Page builder is available to Open Source"
# Topic clarification/correction request

## Topic Link

[Adding Custom Variables](https://docs.magento.com/user-guide/marketing/variables-custom.html)

## Description

This topic is misleading, as it implies that Page Builder is exclusive to Adobe Commerce.

## Magento release version

N/A

## Possible solutions

Update to reflect current capabilities.

## Additional information

N/A

[2022-11-03 17:12] shrielenee commented on #1749
Ok. I found out the best path to updating this topic is to use this: https://www.optimizesmart.com/importing-exporting-container-tag-in-google-tag-manager/

The Step 1 section is not correct, as it mentions Google Analytics 3. The instructions in the topic above show you how to download and import the .txt file.

[2022-11-09 17:33] leslietilling commented on #736
@mageneto give me 2.4-develop instance with edition ce

[2022-11-09 17:34] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ce

[2022-11-10 22:01] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-11-11 18:02] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee

[2022-11-16 20:24] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2022-11-17 18:58] leslietilling commented on #736
@magento give me 2.4-develop instance with edition b2b

[2022-11-18 16:51] leslietilling commented on #736
@magento give me 2.4-develop instance with edition ee